table {
    border: 1px solid black;
    width: 20%; /* or whatever width you want */
    padding: 4px;
}

thead {
    background-color: darkblue;
    color: white;
    text-align: center;
}

th {
    text-align: center;
}

td {
    border: 1px solid black;
    background-color: grey;
}